<div class="ui-widget ui-widget-header ui-corner-top">Nuovo modello</div>
<div class="ui-widget ui-widget-content ui-corner-bottom">
  <div class="contestual-menu">
    <%= link_to 'Indietro', models_path %>
  </div>
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
