#container {
	padding: 0 2em 0 2em;
}

.link_espansione {
	color: #ffffff;
}

.titolo-elenco-sx {
	text-align: left;
	padding-left: 2em;
}

.tabella-elenco td {
	padding-left: 1em;
	padding-right: 1em;
}

.tabella-elenco td a {
	margin-left: auto;
	margin-right: auto;
}

.sub-field {
    display: inline;
}

.contestual-menu {
    display: block;
    padding: .5em 2em;
}

.contestual-link {
	padding: .2em 1em;	
}

.contestual-menu > a {    
    color: #5c9ccc;
}

.menu-img {
	border: none;
	vertical-align: middle;
}

.titolo-pagina {
	padding: .5em 0;
	font-size: 1.5em;
}


.form {
    padding: 1em 0 0 0;
}

.subform {
    padding: 0 3em 0 3em;
}

#adder {
	
}

.hidden {
    display: none;
}

.collapse {
    border-collapse: collapse;
}

.debug {
    border: 1px solid red;
}

.espandi {
    width: 100%;
}

.centra {
    text-align: center;
}

.expand {
	font-size: .7em;
	font-family: Verdana;
	font-weight: normal;
}

div.affiancati{
	display: inline-block;
	margin: 0 auto;
}

.bottom-align{
	vertical-align: bottom;
}

.no-underline {
	text-decoration: none;
}

.icona {
    width: 3em;
}
